bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

protected/app/storage/logs/*.log
protected/app/storage/logs/laravel.log
protected/app/storage/debugbar/*.json

protected/app/tests/code-coverage/*

